<div id="main">
    <div class="tops">
        <div class="banner">
            <div class="swiper-container container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                    <div class="swiper-slide slide"><img ng-src="Content/img/banner.gif"></div>
                </div>
                <div class="swiper-pagination pagination"></div>
                <div class="swiper-button-prev swiper-button-white" id="prev"></div>
                <div class="swiper-button-next swiper-button-white" id="next"></div>
            </div>
        </div>
        <div class="nav">
            <a href="javascript:;"><span><i class="iconfont">&#xe775;</i></span><b>车商城</b></a>
            <a href="javascript:;"><span><i class="iconfont">&#xe612;</i></span><b>分期购车</b></a>
            <a href="javascript:;"><span><i class="iconfont">&#xe6a1;</i></span><b>团购活动</b></a>
            <a href="javascript:;"><span><i class="iconfont">&#xe717;</i></span><b>找二手车</b></a>
        </div>
        <div class="top-banner">
            <p><img ng-src="Content/img/02.gif"></p>
        </div>
        <div class="list-nav">
            <div class="wl-top">
                <p>车主服务</p>
            </div>
            <div class="drain">
                <dl>
                    <dt><i class="iconfont">&#xe714;</i><b>new</b></dt>
                    <dd>油卡充值</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe662;</i></dt>
                    <dd>低价保险</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe675;</i></dt>
                    <dd>4s点保养</dd>
                </dl>
                <dl class="ons">
                    <dt><i class="iconfont">&#xe69f;</i></dt>
                    <dd>品质轮胎</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe61b;</i></dt>
                    <dd>车品商城</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe725;</i></dt>
                    <dd>洗车</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe715;</i></dt>
                    <dd>违章代缴</dd>
                </dl>
                <dl class="ons">
                    <dt><i class="iconfont">&#xe67f;</i></dt>
                    <dd>免费测评</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe682;</i></dt>
                    <dd>查周边</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe67d;</i></dt>
                    <dd>车主卡</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe724;</i></dt>
                    <dd>领券保养</dd>
                </dl>
                <dl class="ons">
                    <dt><i class="iconfont">&#xe649;</i></dt>
                    <dd>全部</dd>
                </dl>
            </div>
            <div class="car">
                <div id="win">
                    <p>限时抢购</p>
                    <p><span>13</span>: <span>13</span>:<span>13</span></p>
                </div>
                <div id="tool">
                    <div class="wl-tool">
                        <dl>
                            <dt>
                                <img ng-src="Content/img/03.gif">
                            </dt>
                            <dd>
                                <p>补胎工具简易套装</p>
                                <p><span>￥9.9元</span><s>28元</s></p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img ng-src="Content/img/03.gif">
                            </dt>
                            <dd>
                                <p>补胎工具简易套装</p>
                                <p><span>￥9.9元</span><s>28元</s></p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img ng-src="Content/img/03.gif">
                            </dt>
                            <dd>
                                <p>补胎工具简易套装</p>
                                <p><span>￥9.9元</span><s>28元</s></p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="active">
                <p><a href="javascript:;">活动专区</a><a href="javascript:;"><b>更多活动</b><i class="iconfont">&#xe723;</i></a></p>
                <div class="pencle">
                    <dl>
                        <dd>
                            <b>侧身价炫富</b>
                            <span>身价大PK</span>
                        </dd>
                        <dt><img ng-src="Content/img/pic1.gif"></dt>
                    </dl>
                    <dl>
                        <dd>
                            <b>侧身价炫富</b>
                            <span>身价大PK</span>
                        </dd>
                        <dt><img ng-src="Content/img/pic2.gif"></dt>
                    </dl>
                    <dl>
                        <dd>
                            <b>侧身价炫富</b>
                            <span>身价大PK</span>
                        </dd>
                        <dt><img ng-src="Content/img/pic3.gif"></dt>
                    </dl>
                </div>

            </div>
            <div class="drophead">
                    <h3><a href="javascript:;">猜你喜欢</a><a href="javascript:;"><b>更多</b><i class="iconfont">&#xe723;</i></a></h3>
                <dl ng-repeat="user in info">
                    <dt><img ng-src="{{user.src}}"></dt>
                    <dd>
                        <h2>{{user.car}}</h2>
                        <p>{{user.year}}</p>
                        <a href="javascript:;"><i>{{user.price}}</i><s>{{user.yuan}}</s></a>
                    </dd>
                </dl>
            </div>
            <div class="drophead" id="dorHead">
                    <h3><a href="javascript:;">猜你喜欢</a><a href="javascript:;"><b>更多</b><i class="iconfont">&#xe723;</i></a></h3>
                <dl ng-repeat="user in info">
                    <dt><img ng-src={{user.src}}></dt>
                    <dd>
                        <h2>{{user.car}}</h2>
                        <p>{{user.year}}</p>
                        <a href="javascript:;"><i>{{user.price}}</i><s>{{user.yuan}}</s></a>
                    </dd>
                </dl>
            </div>
            <div class="little"><p>更多</p></div>
        </div>
    </div>
</div>