@import "reset.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#EDEDED ;
}
html,body,#box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#box{
  display: flex;
  flex-direction: column;
}
header{
  background: #fff;
  width: 100%;
  height: 1rem;
  text-align: center;
  position: relative;
  line-height: 1rem;
  font-size: .38rem;
  a{
    padding:10px 12px;
  }
  i{
    position: absolute;
    right:4px;
    font-size: 22px!important;
  }
  a:hover{
    border-bottom: 1px solid blue;
  }
}
.container{
  width: 100%;
  height: 100%;
}
section{
  flex:1;
  overflow-y: scroll;
  overflow-x: hidden;;
}
b{
  font-weight: normal;
}
.banner{
  width: 100%;
  background: #fff!important;
  img{
    width: 100%;
    height: auto;
  }
}
#prev,#next{
  width: 29px;
  height: 30px;
}
.pagination span{
  width: 30px;
  height: 4px;
  border-radius: 0;
  background: #fff;
}
.nav{
  background: #fff;
  width: 100%;
  margin-top: 10px;
  height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  a{
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
  }
  span{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #FF6565;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    i{
      font-size: 25px;
    }
  }
  a:nth-child(2) span{
    background: #FF9D3D;
  }a:nth-child(4) span{
    background: #4183FF;
  }
  b{
    margin-top: 10px;
    font-size: .36rem;
  }
}
.top-banner{
  margin-top: 18px;
  width: 100%;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  background: #ECF1F4;
  p{
    width: 94%;
    display: inline-block;
    height: 1.4rem;
    line-height: 1.4rem;
  }
  img{
    width: 100%;
    height: auto;
  }
}
.wl-top{
  background: #fff;
  width: 100%;
  height: .9rem;
  line-height: .9rem;
  padding-left: 6px;
  font-size: .4rem;
}
.drain{
  background: #fff;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  dl{
    width: 93px;
    padding:18px 0;
    border-right: 1px solid #ccc;
    position: relative;
    i{
      color: #F86161;
    }
    &:nth-child(1) {
      border-bottom: 1px solid #ccc;
      i{
        color:#3BA27E ;
      }
    }
    &:nth-child(2) {
      border-bottom: 1px solid #ccc;
      i{
        color:#836EF0 ;
      }
    }
    &:nth-child(3) {
      border-bottom: 1px solid #ccc;
      i{
        color:#3BA27E ;
      }
    }
    &:nth-child(4) {
      border-bottom: 1px solid #ccc;
      border-right: 0;
      i{
        color:#F86161 ;
      }
    }
    &:nth-child(5) {
      border-bottom: 1px solid #ccc;
      i{
        color:#FF7D44 ;
      }
    }&:nth-child(6) {
      border-bottom: 1px solid #ccc;
      i{
        color:#689CFF ;
      }
    }&:nth-child(7) {
      border-bottom: 1px solid #ccc;
      i{
        color:#FF7D44 ;
      }
    }
    &:nth-child(8) {
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
    } &:nth-child(9) {
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
    i{
      color: #5992FF;
    }
    }
    &:nth-child(10){
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      i{
        color: #2BB183;
      }
    } &:nth-child(11){
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      i{
        color: #5992FF;
      }
    }&:nth-child(12){
      border-right:0;
      border-bottom: 1px solid #ccc;
    }
  }
  b{
    position: absolute;
    right: 10px;
    top: 14px;
    padding: 1px 2px;
    background: red;
    border-radius: 4px;
    color: #fff;
  }
  dd{
    font-size: .34rem;
    margin-top: 6px;
  }
  i{
    font-size: 28px;
  }
}
.car{
  margin-top: 8px;
  background: #fff;
}
#win{
  width: 100%;
  height: .9rem;
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  line-height: .9rem;
  p{
    &:nth-child(1) {
      font-size: .36rem;
    }
    span{
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #000000;
      color: #fff;
      line-height: 20px;
      text-align: center;
      border-radius: 5px;
    }
  }
}
.wl-tool{
  width: 98%;
  display: flex;
  justify-content: space-around;
  dl{
    width: 30%;
    border: 1px solid #ccc;
  }
  dt{
    padding: 6px;
  }
  dt img{
    width: 100%;
    height: auto;
  }
  dd{
    height: 1rem;
    line-height: .5rem;
    text-align: center;
  }
  p:nth-child(2) {
    display: flex;
    justify-content: space-between;
    span{
      color: #f60;
    }
  }
}
.active{
  width: 100%;
  background: #fff;
  p{
    display: flex;
    width: 100%;
    height: .9rem;
    align-items: center;
    font-size: .34rem;
    justify-content: space-between;
    padding:0 10px;
    a{
      &:nth-child(2) {
        color: #ccc;
        font-size: .32rem;
      }
    }
  }
}
.pencle{
  display: flex;
  width: 100%;
  dl{
    width: 33%;
    padding: 5px;
    border-right: 1px solid #ccc;
    &:nth-child(3) {
      border-right: 0;
    }
  }
  dd{
    b{
      font-size: .34rem;
      display: block;
    }
    span{
      color: #f60;
      font-size: .33rem;
    }
  }
  dt img{
    width: 100%;
    height: auto;
  }
}
.drophead{
  margin-top: 10px;
  h3{
    display: flex;
    width: 100%;
    height: .9rem;
    align-items: center;
    font-size: .34rem;
    justify-content: space-between;
    padding:0 10px;
    a{
      &:nth-child(2) {
        color: #ccc;
        font-size: .32rem;
      }
    }
  }
  display: flex;
  width: 100%;
  background: #fff;
  flex-wrap: wrap;
  dl{
    width: 50%;
    padding:0 9px;
    &:nth-child(1) {
      border-right: 1px solid #ccc;
    }
    &:nth-child(3) {
      border-right: 1px solid #ccc;
    }
  }
  dt img{
    width: 100%;
    height: auto;
  }
  h2{
    font-size: .34rem;
  }
  p{
    color: #cccccc;
    font-size: .32rem;
  }
  i{
    color: #f60;
    font-size: .33rem;
  }
  s{
    margin-left: 6px;
    color: #ccc;
  }
}
.little{
  width: 100%;
  height: .4rem;
  background: #ccc;
  text-align: center;
  line-height: .4rem;
}
footer{
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: #FBFBFB;
  font-size: .38rem;
  a{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px 12px;
  }
  a:hover{
    color:darkmagenta;
  }
  i{
    font-size: 22px!important;
  }
}